<aside #mainSidebar class="main-sidebar sidebar-dark-primary elevation-4 fixedsidebar">
    <!-- Brand Logo -->
    <a [routerLink]="['/']" class="brand-link main-sidebar brandLogo fixedsidebar">
        <img src="{{companyData.logo}}" alt="Empresa" class="brand-image img-circle elevation-3" style="opacity: .8" />
        <span class="brand-text font-weight-light">{{companyData.nombre}}</span>
    </a>

    <!-- Sidebar -->
    <perfect-scrollbar class="movefixedtop">
        <div class="sidebar stylefixedtop">
            <!-- Sidebar user (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="{{userData.logo}}" class="img-circle elevation-2" alt="User Image" />
                </div>
                <div class="info">
                    <a [routerLink]="['/profile']" class="d-block">{{userData.name1}} {{userData.lastName}}</a>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <app-nav-content></app-nav-content>
            </nav>


            <!-- /.sidebar-menu -->
        </div>
    </perfect-scrollbar>
    <!-- /.sidebar -->
</aside>