.scroll-to-bottom {
    position: fixed;
    top: 59px;
    right: 10px;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 35px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
    z-index: 99999;
    opacity: 0;
    transition: all 0.3s ease;
}

.scroll-to-bottom:hover {
    position: fixed;
    top: 65px;
    right: 15px;
    width: 55px;
    height: 55px;
    background: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease;
}

.show-scrollBottom {
    opacity: 1;
    transition: all .2s ease-in-out;
}

.colorrow {
    color: #fff;
}