.dropdown {
    .nav-link {
        cursor: pointer;
    }
}

.userIcon {
    font-size: 25px;
    color: #5a5a5a;
    position: relative;
    bottom: 8px;
}

.userIcon:hover {
    color: black;
}

.cursorFalse {
    cursor: auto;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #000000;
    text-decoration: none;
    background-color: #e6e7e8;
    margin-left: 5%;
    width: 90%;
    margin-bottom: 1px;
}