/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules//font-awesome/css/font-awesome.min.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "../node_modules//ionicons/css/ionicons.min.css";
@import "../node_modules/admin-lte/dist/css/adminlte.min.css";
@import '~ngx-toastr/toastr';

/*Cambios de tamaño en menu izquierdo (Responsive)*/

.sidebar-mini.sidebar-collapse .content-wrapper,
.sidebar-mini.sidebar-collapse .main-footer,
.sidebar-mini.sidebar-collapse .main-header {
    margin-left: 4.6rem!important;
}


/*Cambios de tamaño en menu izquierdo (Responsive)*/

.sidebar-mini.sidebar-collapse .content-wrapper,
.sidebar-mini.sidebar-collapse .main-footer,
.sidebar-mini.sidebar-collapse .main-header {
    margin-left: 4.6rem!important;
}


/*Cambios de tamaño en menu izquierdo (Responsive)*/

.sidebar-mini.sidebar-collapse .main-sidebar,
.sidebar-mini.sidebar-collapse .main-sidebar::before {
    margin-left: 0!important;
    width: 4.6rem!important;
}


/*Cambio en tiempo de trnaisicion del menu izquierdo al desplegarse*/

.hold-transition .content-wrapper,
.hold-transition .control-sidebar,
.hold-transition .control-sidebar *,
.hold-transition .main-footer,
.hold-transition .main-header,
.hold-transition .main-sidebar,
.hold-transition .main-sidebar * {
    transition: 0.50s !important;
}


/*Cambios de tamaño en menu izquierdo (Responsive)*/

.sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused,
.sidebar-mini.sidebar-collapse .main-sidebar:hover {
    width: 16.5%!important;
    transition: 0.50s !important;
}


/*Cambios de tamaño en menu izquierdo (Responsive)*/

.sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused .brand-link,
.sidebar-mini.sidebar-collapse .main-sidebar:hover .brand-link {
    width: 16.5%!important;
    transition: 0.50s !important;
}


/*Cambios de tamaño en menu izquierdo (Responsive)*/

.sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused,
.sidebar-mini.sidebar-collapse .main-sidebar:hover {
    width: 16.5%!important;
    transition: 0.50s !important;
}


/*Cambios de tamaño en menu izquierdo (Responsive)*/

.sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused .brand-link,
.sidebar-mini.sidebar-collapse .main-sidebar:hover .brand-link {
    width: 16.5%!important;
    transition: 0.50s !important;
}


/*Cambios de tamaño en menu izquierdo (Responsive)*/

.sidebar-mini.sidebar-collapse .brand-text,
.sidebar-mini.sidebar-collapse .nav-sidebar .nav-link p,
.sidebar-mini.sidebar-collapse .sidebar .user-panel>.info {
    margin-left: -0px!important;
    opacity: 0;
    visibility: hidden;
}


/*Cambios de tamaño en menu izquierdo (Responsive)*/

.content-wrapper,
.main-footer,
.main-header {
    margin-left: 250px!important;
}


/*Cambios de tamaño en menu izquierdo (Responsive)*/

.sidebar-collapse .main-sidebar,
.sidebar-collapse .main-sidebar::before {
    margin-left: -16.5%!important;
}


/*Estilos ScrollBar*/

perfect-scrollbar>.ps.ps--active-y>.ps__rail-y.ps--clicking,
perfect-scrollbar>.ps.ps--active-y>.ps__rail-y:hover {
    width: 9px!important;
    background-color: transparent!important;
}

perfect-scrollbar>.ps.ps--scrolling-x>.ps__rail-x,
perfect-scrollbar>.ps.ps--scrolling-y>.ps__rail-y {
    opacity: 1 !important;
    background-color: transparent !important;
}

.ps__thumb-y {
    background-color: #c2c7d0!important;
}

.ps__rail-y.ps--clicking .ps__thumb-y,
.ps__rail-y:focus>.ps__thumb-y,
.ps__rail-y:hover>.ps__thumb-y {
    background-color: #fbfbfb!important;
    width: 9px!important;
}

.ps--focus>.ps__rail-x,
.ps--focus>.ps__rail-y,
.ps--scrolling-x>.ps__rail-x,
.ps--scrolling-y>.ps__rail-y,
.ps:hover>.ps__rail-x,
.ps:hover>.ps__rail-y {
    opacity: 1!important;
}

.hold-transition .content-wrapper,
.hold-transition .control-sidebar,
.hold-transition .control-sidebar *,
.hold-transition .main-footer,
.hold-transition .main-header,
.hold-transition .main-sidebar,
.hold-transition .main-sidebar * {
    transition: 0.1s !important;
}


/*Fin Stilos ScrollBar*/