<ng-container *ngIf="!item.hidden">
    <li class="nav-item hovernavitem collapsed ">
        <a class="nav-link navitem" (click)="navCollapse($event)">
            <i class="nav-icon {{item.icon}} "></i>
            <span class="brand-text font-weight-light">{{item.title}}</span><i class="arrows fas fa-angle-right "></i>
        </a>
        <ng-container #subMenuContent style="display: block;">
            <ul class="submenu">
                <ng-container *ngFor="let item of item.children ">
                    <app-nav-group *ngIf="item.type=='group' " [item]="item "></app-nav-group>
                    <app-nav-collapse *ngIf="item.type=='collapse' " [item]="item "></app-nav-collapse>
                    <app-nav-itemalone *ngIf="item.type=='itemalone' " [item]="item "></app-nav-itemalone>
                </ng-container>
            </ul>
        </ng-container>

    </li>
</ng-container>
